# 1- Importation des librairies pour tester les différents modèles

In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import sklearn.metrics as metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import os

In [21]:
train = pd.read_csv('../data/train_final.csv')

In [22]:
train.set_index('id', inplace = True)

In [23]:
train

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,checking_status,employment,savings_status,...,other_payment_plans_bank,other_payment_plans_none,other_payment_plans_stores,housing_for free,housing_own,housing_rent,job_high qualif/self emp/mgmt,job_skilled,job_unemp/unskilled non res,job_unskilled resident
id,,,,,,,,,,,,,,,,,,,,,
30,0.622518,2.010778,-1.754567,-0.727127,-0.437229,-0.698918,-0.432410,1,1,0,...,0,1,0,0,1,0,0,1,0,0
536,1.988249,1.031710,0.017446,-0.727127,-0.641078,1.075834,-0.432410,1,2,1,...,0,1,0,0,1,0,0,1,0,0
696,-1.312267,-0.132756,-0.868560,-0.727127,0.072394,-0.698918,-0.432410,2,2,1,...,0,1,0,0,1,0,0,1,0,0
558,-0.060347,-0.837685,0.903452,1.109417,0.174318,-0.698918,2.312621,2,4,1,...,1,0,0,0,1,0,0,1,0,0
837,-0.060347,-0.456057,0.903452,-0.727127,-1.048776,1.075834,-0.432410,0,2,1,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,1.305384,-0.203582,0.903452,1.109417,-1.150701,-0.698918,-0.432410,1,3,1,...,0,1,0,0,0,1,0,1,0,0
271,0.622518,-0.189834,0.903452,1.109417,0.072394,-0.698918,-0.432410,1,1,1,...,0,1,0,0,1,0,0,1,0,0
861,-0.629401,-0.457307,0.017446,-1.645399,-0.641078,1.075834,-0.432410,1,1,1,...,1,0,0,0,1,0,0,0,0,1
436,-0.743212,0.050559,0.017446,-1.645399,-1.048776,-0.698918,-0.432410,3,2,1,...,0,1,0,0,1,0,0,1,0,0
103,-0.401780,-0.598126,0.903452,-0.727127,0.887790,-0.698918,-0.432410,0,2,1,...,0,1,0,0,1,0,0,0,0,1

# 2- Determination de la target value et split du dataset

In [24]:
y = train['class']
del train['class']
X = train

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 40)

In [28]:
y_train.shape

(568,)

In [29]:
X_test.shape

(143, 47)

In [30]:
y_test.shape

(143,)

# 3- Application de la Regression Logistique

In [31]:
log_reg = LogisticRegression(random_state=10, solver = 'lbfgs')
log_reg.fit(X_train, y_train)

LogisticRegression(random_state=10)

In [32]:
log_reg.predict(X_train)
y_pred = log_reg.predict(X_train)
log_reg.predict_proba(X_train)

array([[0.24146118, 0.75853882],
       [0.07599984, 0.92400016],
       [0.35389003, 0.64610997],
       ...,
       [0.12038027, 0.87961973],
       [0.11469162, 0.88530838],
       [0.5470506 , 0.4529494 ]])

# 4- Précision du test et du train

In [33]:
print('The training Accuracy is ',log_reg.score(X_train, y_train))

print('The testing Accuracy is ',log_reg.score(X_test, y_test))

The training Accuracy is  0.7711267605633803
The testing Accuracy is  0.6993006993006993